{:paths ["src" "target/classes"]
 ;; NOTE: if adding more Clojure libs, make sure to exclude them from the
 ;; packaged Typeset.logback Jar (see `build/build.clj`).
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        ch.qos.logback/logback-classic {:mvn/version "1.5.11"}
        metosin/jsonista {:mvn/version "0.3.11"}}
 :deps/prep-lib {:alias :build
                 :fn compile
                 :ensure "target/classes"}
 :aliases
 {;; clj -X:test
  :test  {:extra-paths ["test"]
          :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                       clj-time/clj-time {:mvn/version "0.15.2"}
                       com.fasterxml.jackson.datatype/jackson-datatype-jsr310 {:mvn/version "2.18.0"}
                       com.fasterxml.jackson.datatype/jackson-datatype-joda {:mvn/version "2.18.0"}}
          :exec-fn kaocha.runner/exec-fn}
  ;; clj -T:build ...
  :build {:extra-paths ["build"]
          :deps {io.github.clojure/tools.build {:git/tag "v0.10.5", :git/sha "2a21b7a"}
                 slipset/deps-deploy {:mvn/version "0.2.2"}}
          :ns-default build}
  ;; clj -T:antq outdated
  :antq {:deps {com.github.liquidz/antq {:mvn/version "RELEASE"}
                org.slf4j/slf4j-nop {:mvn/version "RELEASE"}}
         :ns-default antq.tool}}}
